<p>Login </p>

<html>
<body>
    <form>
        <div>Usernme </div>
        <input type="text" name="username" [(ngModel)]="user.username"> <br>
        <div>Password</div>
        <input type="password" name="password" [(ngModel)]="user.password"><br>
        <div>Subject</div> <br>
        <select name="subject" [(ngModel)]="subject"> 
            
            <option *ngFor="let subject of  subjects"  [value]="subject">{{subject}}</option>
        
        </select> <br> <br>
        
        <input type="button" value="login" (click)="validate()" > &nbsp;
        <input type="button" value="Admin login" (click)="validateAdmin()" >
        <!-- <input type="button" value="login" (click)="validate()" style="shape"> -->
    </form>
    
<h3>{{message}}</h3>


</body>
</html>