<h2>Question Management </h2>

<style>
    .input-container {
      display: flex; 
    }
    input[type="text"]{
    margin-left: 70px;
}
</style>

<html>
    
    <body >
    
        <form>
            question <br>
            <input type="text" name="qno" [(ngModel)]="question.qno"> <br> <br>
            subject <br>
            <input name="subject" type="text" [(ngModel)]="question.subject" size= "40">  <br> <br>   
            Question <br>
            <input type="text" name="qtext" [(ngModel)]="question.qtext" size= "80" > <br>
            
            <br>
            
            
            
            op1 <br>
            <input name="op1" type="text"  [(ngModel)]="question.op1" size= "40"  > <br><br>
            op2 <br>
            <input name="op2" type="text"  [(ngModel)]="question.op2" size= "40"> <br><br>
            op3 <br>
            <input name="op3" type="text"  [(ngModel)]="question.op3" size= "40"> <br><br>
            op4    <br>
            <input name="op4" type="text"  [(ngModel)]="question.op4" size= "40">  <br><br>
            
            answer <br>
            <input type="text" name="answer" [(ngModel)]="question.answer" size= "40">  <br> <br>
            
            <input type="button" value="viewQuestion" (click)="viewQuestion()">  &nbsp;
            <input type="button" value="updateQuestion" (click)="updateQuestion()"> &nbsp;
            <input type="button" value="deleteQuestion" (click)="deleteQuestion()"> &nbsp;
            <input type="button" value="deleteQuestion" (click)="deleteQuestion()"> &nbsp;
            <input type="button" value="addQuestion" (click)="addQuestion()"> &nbsp;

            <!-- <input type="button" value="ShowAllQuestions" (click)="GetAllQuestions()"> -->
</form>

<span style="color: teal; font-size: larger;">{{message}}</span>


<!-- <table>
    <tr>
        <th>subject</th>
        <th>qno</th>
        <th>question </th>
    </tr>
    <tr *ngFor ="let q of questionarray">
        <td>{{q.subject}}</td>
        <td>{{q.qno}}</td>
        <td>{{q.qtext}}</td>


    </tr>
</table> -->


</body>
</html>